<!DOCTYPE html>
<html>
<title>Blog</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script src="https://kit.fontawesome.com/2d2642681e.js" crossorigin="anonymous"></script>

<body>
    <%- include('partials/navbar') %>
    <div class="w3-container w3-margin">
        <div class="w3-container w3-white w3-round w3-animate-zoom w3-border w3-border-amber"
            style="width: 80%; margin:auto">
            <div class="w3-container">
                <div class="w3-container w3-center">
                    <label style="font-size: 20px; font-weight: bold">
                        <%=blog.title %>
                    </label>
                </div>
                <div class="w3-container w3-padding w3-center w3-border-bottom" style="height: 270px;">
                    <img class="w3-bottombar w3-leftbar w3-border-grey w3-round" src=<%=blog.image %>
                    style="height:250px;">
                </div>
                <div class="w3-container" style="overflow-y:hidden;">
                    <p>
                        <%= blog.description %>
                    </p>
                </div>
                <div class="w3-container w3-border-top w3-padding">
                    <label class="w3-text-grey w3-small">Created At:
                        <%=moment(blog.createdAt).format('MMMM Do YYYY, dddd') %>
                    </label><br>
                    <label class="w3-text-grey w3-small">Posted By:
                        <%=blog.fullname%>
                    </label>
                </div>
            </div>
            <div id="comments" class="w3-container w3-center w3-border-top w3-border-amber">
                <h2 class="w3-xlarge"><i class="fa-solid fa-comments w3-large"></i>  <%=count.commentCount%> Comments</h2>
            </div>
            <form action="/comment/<%= blog.id %>" method="post">
            <div class="w3-container" style="display:flex;flex-direction:row;gap:10px;padding:10px;">
                
                <input class="w3-input w3-border w3-border-black w3-round w3-hover-border-green" type="text"
                    name="comment" placeholder="Write comment here...">
                <button type="submit" class="w3-button w3-amber w3-round w3-hover w3-hover-black" style="width: 150px;">Comment</button>
                
            </div>
        </form>
        <% comments.forEach(comment => { %>
            <div class="w3-container w3-border-bottom" style="display:flex;flex-direction:column; gap:5px;">
                
                <!-- <div class="w3-container w3-border-bottom " style="display: flex; flex-direction:column;padding:5px;"> -->
                    <div class="w3-container" style="display: flex;flex-direction:row; gap:10px">
                        <div class="image" style="width: 5%;"><img src="<%=comment.image%>" alt="image"
                                style="height: 50px; width:50px;"></div>
                        <div class="name">
                            <span style="font-weight: bold;"><%= comment.fullname %></span>   
                            <span class="w3-small w3-text-grey"><%= moment(comment.createdAt).calendar() %></span><br>
                            <span><%= comment.comment %></span>
                           
                        </div> 
                              
                    </div>
                        <div class="w3-container">
                            <a href="/comment/delete/<%= blog.id %>/<%= comment.id %>" class="w3-button w3-text-red w3-right w3-small w3-hover-red w3-hover-text-white w3-round <%= (comment.userId!=loggedUser)?"w3-disabled":""%>"><i class="fa-solid fa-trash"></i> Delete</a>
                            <a href="/comment/edit/<%= blog.id %>/<%= comment.id %>" class="w3-button w3-text-blue w3-right w3-small w3-hover-blue w3-hover-text-white w3-round <%= (comment.userId!=loggedUser)?"w3-disabled":""%>"><i class="fa-solid fa-pen-to-square"></i> Edit</a>
                        </div>
                     
                </div>
                <% }) %>
            </div>
        </div>
    </div>
</body>
</html>