<!DOCTYPE html>
<html>
<title>Edit Profile</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script src="https://kit.fontawesome.com/2d2642681e.js" crossorigin="anonymous"></script>
<body>
        <div class="w3-container w3-padding" >
            <div class="w3-modal-content w3-animate-zoom w3-card-4 w3-padding w3-round" style="width: 40%">
                <header class="w3-container w3-border-bottom w3-border-amber w3-center">
                    <h2>Edit Profile</h2>
                </header>
                <div class="w3-container w3-padding">
                    <form action="/editProfile" method="POST" enctype="multipart/form-data">
                        <div class="w3-container w3-padding">
                            <label><i class="fa-solid fa-user"></i> Full name</label>
                            <input class="w3-input" type="text" name="fullname" value="<%= user.fullname %>" required />
                        </div>
    
                        <div class="w3-container w3-padding">
                            <label><i class="fa-solid fa-envelope"></i> Email</label>
                            <input class="w3-input" type="email" name="email" value="<%= user.email %>" required disabled />
                        </div>
                        <div class="w3-container w3-padding">
                            <label><i class="fa-solid fa-mobile"></i> Phone</label>
                            <input class="w3-input" type="text" name="phone" value="<%= user.phone %>" required />
                        </div>
                        <div class="w3-container w3-padding">
                            <label><i class="fa-solid fa-location-dot"></i> Address</label>
                            <input class="w3-input" type="text" name="address" value="<%= user.address %>" required />
                        </div>

                        <div class="w3-container w3-padding">
                            <label><i class="fa-solid fa-image"></i> Image</label>
                            <input class="w3-input" type="file" name="image"/>
                            <img src="<%= user.image %>" alt="" style="width:20%;">
                        </div>
    
                        <div class="w3-container w3-padding w3-center">
                            <button type="submit" class="w3-button w3-amber w3-round w3-margin-top w3-hover-black w3-block" required>
                                 Update Profile
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
</body>
</html>